<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.kimking.base.spring.mybatis.infrastructure.dao.IUserDao">

    <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="priv.kimking.base.spring.mybatis.infrastructure.po.User">
        SELECT id, userId, userNickName, userHead, userPassword, createTime
        FROM user
        where id = #{id}
    </select>

</mapper>
